<div id="app1">

  

  <q-select v-model="selection" 
    style="max-width: 250px"
    :options="[
    'Panda', 'lily', 'bro'
    ]"
    label="Dogs" 
    filled 
    borderless
    dense
    color = "red"
    bg-color = "white-2"
    clearable
    hint="Select panda pls"
    options-cover
    emit-value
    @* disabled
    readonly *@
    >

    <template #prepend>
      <q-icon name="event" />
    </template>

  </q-select>

    <pre style="color: black;"> {{ selection }} </pre>
    


  
 
  

</div>




@section code {
  <script>
    var option = {
      //data
      data() {
        return {
          selection: null
        };
      }
      ,
      //methods
      methods: {
      
    

      }
      ,

      //computed
      computed: {

      }
      ,
      //created
      async created() {
       
      }//ecreated
      ,
      //mounted
      mounted() {

      }

    };

    const app = Vue.createApp(option);
    app.use(Quasar)
    app.mount('#app1')
  </script>

}