<div id="app1">
    <div class="text-h5 text-weight-bold text-white q-pa-lg" style="background-color: #ff3333; color: rgb(230, 229, 229); text-color: white;
            border-top-left-radius: 10px; /* Adjust the radius as needed */
            border-top-right-radius: 10px; /* Adjust the radius as needed */">
            Location Information</div>
    <q-card class="my-card bg-grey-2">
        <q-card-section class="bg-grey text-white">
            <div class="text-h6">Add New Branch</div>
        </q-card-section>
        <div class="text-h6 q-pa-lg">General Information</div>
        <q-input class="q-px-sm q-mb-sm" filled v-model="deliveryBranch.deliveryService.deliveryCompanyName" label="Delivery Company Name"
            lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"></q-input>
        <q-input class="q-px-sm q-mb-sm" filled v-model="deliveryBranch.branchName" label="Branch Name"
            lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"></q-input>
        <q-separator vertical class="q-my-sm"></q-separator>
        <q-input class="q-px-sm q-mb-sm" filled v-model="deliveryBranch.branchTelNumbers[0].telNumber"
            label="Branch Tel Number" hint="Tel Number" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"></q-input>
        <q-separator vertical class="q-my-sm"></q-separator>
        <q-input class="q-px-sm q-mb-sm" filled v-model="deliveryBranch.branchAvailability" label="Branch Availability"
            lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"></q-input>
        <q-separator vertical class="q-my-sm"></q-separator>
        <div class="text-h6 q-pa-lg">Branch Address</div>
        <q-input class="q-px-sm q-mb-sm" filled v-model="deliveryBranch.branchAddress.province" label="Province"
            lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"></q-input>
        <q-input class="q-px-sm q-mb-sm" filled v-model="deliveryBranch.branchAddress.city" label="City"
            lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"></q-input>
        <q-input class="q-px-sm q-mb-sm" filled v-model="deliveryBranch.branchAddress.village" label="Village"
            lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"></q-input>
        <q-input class="q-px-sm q-mb-sm" filled v-model="deliveryBranch.branchAddress.addressDetail"
            label="Address Detail" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"></q-input>
        <q-separator vertical class="q-my-sm"></q-separator>
        <q-input class="q-px-sm q-mb-sm" filled v-model="deliveryBranch.branchGooglemapPosition"
            label="Branch Googlemap Position" lazy-rules :rules="[ val => val && val.length > 0 || 'Please type something']"></q-input>
        <q-separator vertical class="q-my-sm"></q-separator>
        <div class="justify-end row">
            <q-btn icon="restart_alt" class="q-mx-lg" color="grey" @@click="onReset" size="lg"></q-btn>
        </div>
        <q-card-actions align="center">
            <q-btn label="Submit" icon="arrow_downward" type="submit" color="green"
                class="text-h7 q-mx-sm q-my-lg" @@click="confirm = true" size="lg"></q-btn>
            <q-dialog v-model="confirm" persistent>
                <q-card>
                    <q-card-section class="row items-center">
                        <q-avatar icon="groups" color="green" text-color="white"></q-avatar>
                        <span class="q-ml-sm">Add this supplier?</span>
                    </q-card-section>
                    <q-card-actions align="center">
                        <q-btn class="q-ma-sm" color="green" @@click="addDeliveryBranches" label="Yes" v-close-popup></q-btn>
                        <q-btn class="q-ma-sm" label="No" color="grey" v-close-popup />
                    </q-card-actions>
                </q-card>
            </q-dialog>
            <q-btn icon="arrow_back" label="Back" color="grey-7" class="text-h7 text-white" onclick='window.location="/supplier"'
                size="lg"></q-btn>
            <q-dialog v-model="completedDialog">
                <q-card class="bg-indigo-1">
                    <q-card-section>
                        <div class="text-h6">
                            Done!
                            <q-icon name="done"></q-icon>
                        </div>
                    </q-card-section>
                    <q-card-section class="q-pt-none">
                        Supplier Information had been added
                    </q-card-section>
                    <q-card-actions align="right">
                        <q-btn flat label="Check" color="indigo" onclick='window.location="/supplier"'></q-btn>
                        <q-btn flat label="Close" icon="close" color="grey" v-close-popup></q-btn>
                    </q-card-actions>
                </q-card>
            </q-dialog>
        </q-card-actions>
    </q-card>
    <div class="bg-grey-9 q-pa-sm" style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;"></div>
</div>



@section code{
    <script>
    var option = {
        // data
        data() {
            return {
                confirm: false,
                deliveryBranch: {
                    deliveryService: {
                        deliveryCompanyName: "Anousith Express"
                    },
                    branchName: "ສາຂາ ໂພນຕ້ອງສະຫວາດ(ຈັນທະບູລີ)",
                    branchTelNumbers: [
                        {
                            telNumber: "020-95960461"
                        }
                    ],
                    branchAvailability: "open",
                    branchAddress: {
                        province: "ນະຄອນຫຼວງວຽງຈັນ",
                        city: "ຈັນທະບູລີ",
                        village: "ໂພນຕ້ອງສະຫວາດ",
                        addressDetail: "ຂ້າງວົງວຽນ ຕິດກັບບໍລິສັດ SKC"
                    },
                    branchGooglemapPosition: "?saddr=17.995622,102.6241915&daddr=17.99646520515873,102.62392149999998"
                },
                completedDialog: false
            };
        },
        // methods
        methods: {
            async addDeliveryBranches() {
                try {
                    console.log(this.deliveryBranch);
                    var response = await axios.post("/api/AddDeliveryBranches", this.deliveryBranch);
                    this.completedDialog = true;
                    console.log(response.data);
                } catch (error) {
                    console.log(error);
                }
            },
            onReset() {
    const notif = this.$q.notify({
        type: 'ongoing',
        message: 'Loading...'
    });

    // simulate delay
    setTimeout(() => {
        notif({
            type: 'positive',
            message: 'Reseted',
            timeout: 315
        });
    }, 715);

    this.deliveryBranch.branchName = "";
    this.deliveryBranch.branchTelNumbers[0].telNumber = "";
    this.deliveryBranch.branchAvailability = "";
    this.deliveryBranch.branchAddress.province = "";
    this.deliveryBranch.branchAddress.city = "";
    this.deliveryBranch.branchAddress.village = "";
    this.deliveryBranch.branchAddress.addressDetail = "";
    this.deliveryBranch.branchGooglemapPosition = "";
}

            // other methods...
        },
        // computed
        computed: {},
        // created
        created() {},
        // mounted
        mounted() {}
    };

    const app = Vue.createApp(option);
    app.use(Quasar);
    app.mount('#app1');
</script>
}