.toolbar {
  background-color: #f2f2f2;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Set the toolbar position to fixed */
  top: 0; /* Position it at the top of the viewport */
  width: 100%; /* Ensure it spans the entire width of the viewport */
  z-index: 1000; /* Set a high z-index to ensure it's above other content */
      }
      .toolbar .logo {
      display: flex;
      align-items: center;
      font-size: large;
      color: #CA1403;
  }
  .toolbar .logo img {
      width: 50px;
      margin-right: 15px; /* Adjust margin as needed */
  }

  .menu-icon {
      font-size: 30px;
      cursor: pointer;
      color: black;
  }

  .menu-icon:hover {
      color: red; /* Change color to red on hover */
  }


      .toolbar .user-info {
          display: flex;
          align-items: center;
      }


      .toolbar .user-info i {
          margin-left: 15px;
      }

          .closebtn {
  cursor: pointer;
  font-size: 36px;
  padding: 8px 12px;
  color: #333;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 10px;
  right: 10px;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
          z-index: 999; /* Ensure it's below the toolbar */
  top: 25px;
  left: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5px;
}

/* Add your existing styling for other links in the sidenav */
.sidenav a {
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  transition: 0.3s;
}

.sidenav hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidenav a.current-tab {
  background-color: #f2f2f2;
  border-radius: 10px;
}

.sidenav a.current-tab:hover {
  background-color: #f2f2f2;
}

.sidenav a i {
  margin-right: 10px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav a:hover {
  color: rgb(255, 48, 48);
  background-color: #a1a1a1;
  padding: 16px 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

/* Media query for smaller screens */
@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 15px;
  }
  .sidenav a {
      font-size: 18px;
  }
}

